Repository tarantool/datafusion, pull requests merged in 2025-08, with the labels that each got.

#13 Support parsing with prepared tokens
  Cargo.toml
  datafusion/sql/src/parser.rs
Labels: sql

#14 push down filter: extend a projection if some pushed filters are unsupported
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/sql/src/parser.rs
Labels: optimizer, sql

#15 values: support physical placeholders
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/expr.rs
  datafusion/expr/src/logical_plan/builder.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/physical-plan/src/values.rs
  datafusion/substrait/src/logical_plan/consumer.rs
  datafusion/substrait/tests/cases/roundtrip_logical_plan.rs
Labels: physical-expr, core, logical-expr, substrait
